@model PurchaseOrderApp112916.Models.PaymentTerms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentTerms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentTermsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTermsDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentTermsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
