@model PurchaseOrderApp112916.Models.Vendor

@{
    Layout = null;
}


    <table class="tg" align="center">
        <tr>
            <th style="text-align:right">Vendor Name: &nbsp;</th>
            <td>&nbsp;@Model.VendorCompanyName</td>
        </tr>
        <tr>
            <th style="text-align:right">Address Line 1:&nbsp;</th>
            <td>&nbsp;@Model.VendorAddressLine1</td>
        </tr>
        <tr>

            <th style="text-align:right">Address Line 2:</th>
            <td>&nbsp;@Model.VendorAddressLine2</td>
        </tr>
        <tr>
            <th style="text-align:right">Address Line 3:</th>
            <td>&nbsp;@Model.VendorAddressLine3</td>
        </tr>
        <tr>
            <th style="text-align:right">City:</th>
            <td>&nbsp;@Model.VendorCity</td>
        </tr>
        <tr>
            <th style="text-align:right">State:</th>
            <td>&nbsp;@Model.VendorState</td>
        </tr>
        <tr>
            <th style="text-align:right">Zip:</th>
            <td>&nbsp;@Model.VendorZip</td>
        </tr>
    </table>

